{%  extends "base.html.twig" %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container  ">
            {{ form_start(formAdd, {'attr':{'class':'form-row', 'style' : 'margin-top: 10px'}}) }}
            <div class="col">
                <h5>Nouvelle Categorie</h5>
            </div>
            <div class="col ">
                {{ form_row(formAdd.name, {'attr': {'class':'form-control mr-sm-2 ','placeholder': 'Categorie'}}) }}
            </div>

            {{ form_row(formAdd.submit, {'attr': {'class':'btn btn-outline-info my-2 my-sm-0 '}}) }}

            {{ form_end(formAdd) }}
        </div>
    {% endif %}

    <div class="container " style="margin-top: 10px;">
        <ul>
            {% for cat in cats %}
                <li class="row list-group-item d-flex list-group-item-dark ">
                    <div class="col-8">
                        <a class="nav-link" href="{{ path('quotebycategorie_categorie' , {slug : cat.slug }) }}"><span class="badge badge-pill badge-info">{{ cat.slug }}</span>  {{  cat.name  }}</a>
                    </div>
                    <div class="col-2 ">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-success"  href="{{ path('update_categorie' , {id : cat.id}) }}">Edit</a>
                            <a  class="btn btn-danger"  href="{{ path('delete_categorie', {id : cat.id})}}">&#10008;</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>




{% endblock %}