{%  extends "base.html.twig" %}
{% block stylesheets %}
    <style type="text/css">
        .header{
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
        }

        .header div {
            float: left;
            padding-left: 5px;

        }
        .header a{
            float: left;
            padding-left: 5px;

        }
        li{
            border: 1px dashed #222222;
            margin:  5px;
            padding: 20px;
            list-style: none;


        }
        li a{
            margin: 10px;


        }


    </style>

{% endblock %}
{% block body %}



    <div class="header">
        <a href="{{ path('quotes', {})}}"><input type="button" value="Quotes"></a>
        {% if is_granted('ROLE_ADMIN') %}
            <div >
                {{ form_start(formAdd) }}
                {{ form_widget(formAdd) }}
                {{ form_end(formAdd) }}
            </div>
        {% endif %}
    </div>
    <div>
        <ul>
            {% for cat in cats %}
                <li><a href="{{ path('quotebycategorie_categorie' , {slug : cat.slug}) }}">{{ cat.name }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('update_categorie' , {id : cat.id}) }}"><input type="button" value="update"></a>
                        <a href="{{ path('delete_categorie', {id : cat.id})}}"><input type="button" value="delete"></a>
                    {% endif %}
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>




{% endblock %}