{%  extends "base.html.twig" %}
{% block body %}

    <div class="container ">
        <h1 class="col" style="margin-top: 10px; margin-bottom: 10px">{{ cat.name }} </h1>
        <ul>
            {% for quote in quotes %}
                <li class="row list-group-item d-flex list-group-item-dark ">
                    <div class="col-2 justify-content-center ">
                        {% if is_granted('ROLE_USER') %}
                            <a  class="row btn btn-primary" href="{{ path('quote_up' , {id : quote.id}) }}">/\</a>
                        {% endif %}
                        <b class="row align-middle" style="margin-left: auto">{{ quote.getScoreInt }}</b>
                        {% if is_granted('ROLE_USER') %}
                            <a class="row btn btn-danger" href="{{ path('quote_down', {id : quote.id})}}">\/</a>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <a href="{{ path('quotebycategorie_categorie' , {slug : quote.category.slug }) }}"><span class="badge badge-pill badge-info">{{ quote.category.name }}</span></a>
                        <p> {{ quote.quote }}
                            <i>{{ quote.meta }}</i>
                        </p>
                        <b>{{ quote.owner.username }}</b>

                    </div>
                    <div class="col-2 ">
                        {% if is_granted('delete', quote) %}
                            <a class="btn btn-success"  href="{{ path('update_quote' , {id : quote.id}) }}">Edit</a>
                            <a  class="btn btn-danger"  href="{{ path('delete_quote', {id : quote.id})}}">&#10008;</a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>




{% endblock %}