{%  extends "base.html.twig" %}
{% block stylesheets %}
    <style type="text/css">
        .header{
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
            }

        .header div {
            float: left;
            padding-left: 5px;

        }
        .header a{
            float: left;
            padding-left: 5px;

        }
        .quote {
            border: 1px dashed #222222;
            margin:  5px;
            padding: 20px;
            list-style: none;


        }
        .quote a{
            margin: 10px;


        }


    </style>

{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout', {})}}"><input type="button" value="Logout"></a>

    {% else %}
        <a href="{{ path('app_login', {})}}"><input type="button" value="Login"></a>

    {%  endif %}
      <div class="header">

        <a href="{{ path('categorie', {})}}"><input type="button" value="Categorie"></a>
        <a href="{{ path('random_quote', {})}}"><input type="button" value="Random"></a>

          {% if is_granted('ROLE_USER') %}
            <div >
                {{ form_start(formAdd) }}
                {{ form_widget(formAdd) }}
                {{ form_end(formAdd) }}
            </div>
          {% endif %}

        <div >
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <select id="mySelect" class="pagination justify-content-end" onChange="document.location.href='{{ path('quotes', {}) }}/1/'+document.getElementById('mySelect').value; ">
        <option value="1"></option>
        <option value="10"> 10</option>
        <option value="50">50</option>
        <option value="100"> 100</option>

    </select>
    <div>
        <ul>
        {% for quote in quotes %}
            <li class="quote">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('quote_up' , {id : quote.id}) }}"><input type="button" value="<"></a>
                {% endif %}
                    <b>{{ quote.getScoreInt }}</b>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('quote_down', {id : quote.id})}}"><input type="button" value=">"></a>
                {% endif %}

                {{ quote.quote }}
                <i>{{ quote.meta }}</i>,
                <b>{{ quote.owner.username }}</b>
                <a href="{{ path('quotebycategorie_categorie' , {slug : quote.category.slug }) }}">{{ quote.getCategory().getName() }}</a>
                <br>
                {% if is_granted('delete', quote) %}
                    <a href="{{ path('update_quote' , {id : quote.id}) }}"><input type="button" value="update"></a>
                    <a href="{{ path('delete_quote', {id : quote.id})}}"><input type="button" value="delete"></a>
                {% endif %}
            </li>
            <br>
        {% endfor %}
        </ul>
        <nav aria-label="Navigation page" style="margin-top: 20px ;">

            <ul class="pagination justify-content-end">

                {% if numberPage < 7 %}
                    {% for i in 1..numberPage %}
                        {% if i == actualPage %}
                            <li class="page-item disabled"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if numberPage > 6 %}

                    {% if actualPage < 4  %}
                        {% for i in 1..4 %}
                            {% if i == actualPage %}
                                <li class="page-item disabled"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item page-link">...</li>
                        <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/{{ numberPage }}/{{ nombre }}">{{ numberPage }}</a></li>
                    {% endif %}

                    {% if actualPage > 3  %}
                        {%  if numberPage - actualPage > 2 %}

                            <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/1">1</a></li>
                            <li class="page-item page-link">...</li>
                            {% for i in (actualPage-1)..(actualPage+1) %}
                                {% if i == actualPage %}
                                    <li class="page-item disabled"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item page-link">...</li>
                            <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/{{ numberPage }}/{{ nombre }}">{{ numberPage }}</a></li>
                        {% endif %}
                    {% endif %}

                    {% if numberPage - actualPage < 3  %}
                        <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/1/{{ nombre }}">1</a></li>
                        <li class="page-item page-link">...</li>
                        {% for i in numberPage-3..numberPage %}
                            {% if i == actualPage %}
                                <li class="page-item disabled"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ path('quotes', {}) }}/{{ i }}/{{ nombre }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endif %}


            </ul>
        </nav>
    </div>




{% endblock %}