{%  extends "base.html.twig" %}
{% block stylesheets %}
    <style type="text/css">
        .header{
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
            }

        .header div {
            float: left;
            padding-left: 5px;

        }
        .header a{
            float: left;
            padding-left: 5px;

        }
        li{
            border: 1px dashed #222222;
            margin:  5px;
            padding: 20px;
            list-style: none;


        }
        li a{
            margin: 10px;


        }


    </style>

{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout', {})}}"><input type="button" value="Logout"></a>

    {% else %}
        <a href="{{ path('app_login', {})}}"><input type="button" value="Login"></a>

    {%  endif %}
      <div class="header">

        <a href="{{ path('categorie', {})}}"><input type="button" value="Categorie"></a>
        <a href="{{ path('random_quote', {})}}"><input type="button" value="Random"></a>

          {% if is_granted('ROLE_USER') %}
            <div >
                {{ form_start(formAdd) }}
                {{ form_widget(formAdd) }}
                {{ form_end(formAdd) }}
            </div>
          {% endif %}

        <div >
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div>
        <ul>
        {% for quote in quotes %}
            <li>{{ quote.quote }}

                <i>{{ quote.meta }}</i>,
                <b>{{ quote.owner.username }}</b>
                <a href="{{ path('quotebycategorie_categorie' , {slug : quote.category.slug }) }}">{{ quote.getCategory().getName() }}</a>
                <br>
                {% if is_granted('delete', quote) %}
                    <a href="{{ path('update_quote' , {id : quote.id}) }}"><input type="button" value="update"></a>
                    <a href="{{ path('delete_quote', {id : quote.id})}}"><input type="button" value="delete"></a>
                {% endif %}
            </li>
            <br>
        {% endfor %}
        </ul>
    </div>




{% endblock %}