{%  extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <li class="row list-group-item d-flex list-group-item-dark " style="margin-top: 10px">
            <div class="col-8">
                <a href="{{ path('quotebycategorie_categorie' , {slug : quote.category.slug }) }}"><span class="badge badge-pill badge-info">{{ quote.category.name }}</span></a>
                <p> {{ quote.quote }}
                    <i>{{ quote.meta }}</i>
                </p>
                <b>{{ quote.owner.username }}</b>

            </div>

        </li>
    </div>
</div>
{% endblock %}