{%  extends "base.html.twig" %}
{% block body %}
    <div class="container" >
        {{ form_start(formAdd, {'attr':{'style' : 'margin-top: 10px'}}) }}
            <div class="form-group">
                <label class="badge badge-secondary">Quote</label>
                {{ form_row(formAdd.quote, {'attr': {'class':'form-control ','placeholder': 'Quote'}}) }}
            </div>
            <div class="form-group">
                <label class="badge badge-secondary">Meta</label>
                {{ form_row(formAdd.meta,{'attr': {'class':'form-control ','placeholder': 'Meta'}}) }}
            </div>
            <div class="form-group">
                <label class="badge badge-secondary">Category</label>
                {{ form_row(formAdd.category,{'attr': {'class':'form-control '}}) }}
            </div>
            {{ form_row(formAdd.submit, {'attr': {'class':'btn btn-outline-info '}}) }}

        {{ form_end(formAdd) }}
    </div>
{% endblock %}